<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <typeAliases>
      <!--<typeAlias type="com.wowchina.domain.User" alias="user"></typeAlias>-->
      <package name="com.wowchina.domain"></package>
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/intern"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <mapper resource="sqlmap/UserMapper.xml"/>
    <mapper resource="sqlmap/IndustryMapper.xml"/>
    <mapper resource="sqlmap/MajorMapper.xml"/>
    <mapper resource="sqlmap/PostMapper.xml"/>
    <mapper resource="sqlmap/CityMapper.xml"/>
    <mapper resource="sqlmap/ApplyMapper.xml"/>
    <mapper resource="sqlmap/MessageMapper.xml"/>
    <mapper resource="sqlmap/MajorPostMapMapper.xml"/>
  </mappers>
</configuration>