<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wowchina.domain.ApplyMapper">

    <sql id="tableName">apply</sql>

    <sql id="allFields">
        id,
        userid,
        postid
    </sql>

    <sql id="insertFields">
        userid,
        postid
    </sql>

    <insert id="addApply" useGeneratedKeys="true" keyProperty="id" parameterType="apply">
        INSERT INTO
        <include refid="tableName"/>
        (<include refid="insertFields"/>)
        VALUES
        (#{userId},#{postId})
    </insert>

    <select id="isUserApplied" resultType="int">
        SELECT count(id)
        FROM <include refid="tableName"></include>
        WHERE userid = #{userId} AND postid = #{postId}
    </select>

</mapper>