<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wowchina.domain.MessageMapper">

    <sql id="tableName">message</sql>

    <sql id="allFields">
        id,
        userid,
        postid,
        type,
        read,
        addtime,
        remark
    </sql>

    <sql id="noIdFields">
        userid,
        postid,
        type,
        read,
        addtime,
        remark
    </sql>

    <insert id="addMessage" useGeneratedKeys="true" keyProperty="id" parameterType="message">
        INSERT INTO
        <include refid="tableName"/>
        (<include refid="noIdFields"/>)
        VALUES
        (#{userId},#{postId},#{type},0,now(),#{remark})
    </insert>

    <update id="updateMessagetoReadedById" parameterType="int">
        update
        <include refid="tableName"/>
        SET
        read = 1
        WHERE
        id=#{id}
    </update>

    <update id="updateMessagetoReadedByUserId" parameterType="int">
        update
        <include refid="tableName"/>
        SET
        read = 1
        WHERE
        userid=#{userId}
    </update>

    <select id="getUnreadMessageCountByUserId" parameterType="int" resultType="int">
        select count(*) from
        <include refid="tableName"/>
        where userid=#{userId}
    </select>

</mapper>