<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wowchina.domain.PostMapper">

    <sql id="tableName">post</sql>

    <sql id="allFields">
        id,
        title,
        company,
        website,
        industryid,
        opento,
        headcount,
        eligible,
        status,
        cityid,
        address,
        reward,
        description,
        userid,
        updatetime
    </sql>

    <sql id="noIdFields">
        title,
        company,
        website,
        industryid,
        opento,
        headcount,
        eligible,
        cityid,
        address,
        reward,
        description,
        userid,
        updatetime
    </sql>

    <select id="getPostInfoById" resultType="post" parameterType="int">
        select
        <include refid="allFields"/>
        from
        <include refid="tableName"/>
        where
        id = #{id}
    </select>

    <insert id="addPost" useGeneratedKeys="true" keyProperty="id" parameterType="post">
        INSERT INTO
        <include refid="tableName"/>
        (<include refid="noIdFields"/>)
        VALUES
        (#{title},#{company},#{website},#{industryid},#{opento},#{headcount},#{eligible},#{cityid},#{address},#{reward},#{description},#{userid},now())
    </insert>

    <update id="updatePost" parameterType="post">
        update
        <include refid="tableName"/>
        SET
        <if test="title!=null and title!=''">
            title = #{title},
        </if>
        <if test="company!=null and company!=''">
            company = #{company},
        </if>
        <if test="website!=null and website!=''">
            website = #{website},
        </if>
        <if test="industryid!=0">
            industryid = #{industryid},
        </if>
        <if test="opento!=null and opento!=''">
            opento = #{opento},
        </if>
        <if test="headcount!=0">
            headcount = #{headcount},
        </if>
        <if test="eligible!=0">
            eligible = #{eligible},
        </if>
        <if test="cityid!=0">
            cityid = #{cityid},
        </if>
        <if test="address!=null and address!=''">
            address = #{address},
        </if>
        <if test="reward!=null and reward!=''">
            reward = #{reward},
        </if>
        <if test="description!=null and description!=''">
            description = #{description},
        </if>
        <if test="userid!=0">
            userid = #{userid},
        </if>
        updatetime = now()
        WHERE
        id=#{id}
    </update>

</mapper>