<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wowchina.domain.UserMapper">

    <sql id="tableName">user_basic</sql>
    <sql id="allFields">id,username,password,token,userimage,realname,university,majorid,industryids,skills,location,email,tel,certificates,linkedinid,linkedinusername,linkedinprofileurl,facebook</sql>
    <sql id="registerFields">username,password,token</sql>
    <sql id="baseFields">id,username,userimage</sql>

    <sql id="postItemFields">p.id,p.title,p.company,p.website,p.address,p.reward,p.description,p.userid,u.username,u.userimage,p.updatetime</sql>

    <select id="queryPostsByIndustryId" resultType="postItem" parameterType="postListParam">
        select
        <include refid="postItemFields"/>
        FROM
        (select * from post where industryid = #{industryId} order by updatetime desc limit #{low},#{high}) as p JOIN user_basic as u on p.`userid` = u.`id`
    </select>

    <select id="queryPostsByCityId" resultType="postItem" parameterType="postListParam">
        select
        <include refid="postItemFields"/>
        FROM
        (select * from post where cityid = #{cityId} order by updatetime desc limit #{low},#{high}) as p JOIN user_basic as u on p.`userid` = u.`id`
    </select>

    <select id="queryPostsByKeyword" resultType="postItem" parameterType="postListParam">
        select
        <include refid="postItemFields"/>
        FROM
        (select * from post where title like #{keyword} or description like #{keyword} order by updatetime desc limit #{low},#{high}) as p JOIN user_basic as u on p.`userid` = u.`id`
    </select>

    <select id="queryPostsByMajor" resultType="postItem" parameterType="postListParam">
        select
        <include refid="postItemFields"/>
        FROM
        ((select distinct p.id,p.title,p.company,p.website,p.address,p.reward,p.description,p.userid,p.updatetime from post as p join (select * from major_post_map where majorid=#{majorId}) as map on p.id = map.postid)) as p JOIN user_basic as u on p.`userid` = u.`id`  order by updatetime desc limit #{low},#{high}
    </select>

    <select id="queryUserInfoByToken" resultType="user" parameterType="String">
        select
        <include refid="allFields"/>
        from
        <include refid="tableName"/>
        where token = #{token}
    </select>

    <select id="queryUserBaseInfoByUserId" resultType="userBaseInfo" parameterType="int">
        select
        <include refid="baseFields"/>
        from
        <include refid="tableName"/>
        where id = #{userId}
    </select>

    <select id="queryUserInfoByUserId" resultType="user" parameterType="int">
        select
        <include refid="allFields"/>
        from
        <include refid="tableName"/>
        where id = #{userId}
    </select>

    <update id="updateUserImageInfo" parameterType="user">
        UPDATE
        <include refid="tableName"/>
        SET
        userimage=#{userimage}
        WHERE id = #{id}
    </update>

    <update id="updateUserInfo" parameterType="user">
        UPDATE
        <include refid="tableName"/>
        SET
        realname=#{realname},
        university=#{university},
        majorid=#{majorid},
        industryids=#{industryids},
        skills=#{skills},
        location=#{location},
        email=#{email},
        tel=#{tel},
        certificates=#{certificates},
        linkedinid=#{linkedinid},
        linkedinusername=#{linkedinusername},
        linkedinprofileurl=#{linkedinprofileurl},
        facebook=#{facebook}
        WHERE id = #{id}
    </update>

    <select id="login" resultType="user" parameterType="user">
        select
        <include refid="allFields"/>
        from
        <include refid="tableName"/>
        where username = #{username} and password = #{password}
    </select>

    <select id="checkUsernameIsExist" resultType="int" parameterType="user">
        select count(*) from <include refid="tableName"/> where username = #{username}
    </select>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="id" parameterType="user">
        INSERT INTO <include refid="tableName"/> (<include refid="registerFields"/>) VALUES
        (#{username}, #{password}, #{token})
    </insert>

</mapper>